{% extends "base.html" %}
{% block content %}
    <div class="container home-area">
    <div class="vertical-bar">
            <img src="{{ url_for('static', filename='front2.jpg') }}">
        </div>
        <div class="content-bar">
    <h3> <b>WELCOME</b></h3>
        <h3> <b>TO</b></h3>
        <h2> <b>Hindi Sentiment Analysis System</b></h2>
        <br>
        <img src="{{ url_for('static', filename='front1.jpg') }}">
        <p>is a web-based sentiment analysis system which performs analysis at aspect, sentence and document level.</p>
        <br>
        <a href="{{ url_for('feature.feature') }}">
            <button type="button" class="btn btn-primary">Experience us now</button>
        </a>
        </div>
        <div class="vertical-bar">
            <img src="{{ url_for('static', filename='front3.jpg') }}">
        </div>
    </div>
{% endblock %}