{% extends "base.html" %}
{% block content %}
    <div class="front-page">
        <h3> <b>WELCOME</b></h3>
        <h3> <b>TO</b></h3>
        <h2> <b>Hindi Sentiment Analysis System</b></h2>
        <br>
        <p>is a web-based sentiment analysis system which performs analysis at aspect, sentence and document level.</p>
        <br>
        <a href="{{ url_for('feature.feature') }}">
            <button type="button" class="btn btn-primary">Experience us now</button>
        </a>
    </div>
{% endblock %}