{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="col-md-10">
            <h4 class="legend">Please Enter your hindi text for sentiment analysis</h4>
                    <form id="input-form" action="{{ url_for('feature.feature') }}", method="post">
                        <textarea rows="5" cols="100" style="margin-bottom: 20px" name="liner-text" default="">{% if data %}{{data[0]}}{% else %}इस फ़िल्म की कहानी कमज़ोर नहीं है, गीत मधुर हैं पर निर्देशन बहुत बुरा है।{% endif %}</textarea>
                        <br>
                <input type="submit" value="Predict" class="btn btn-primary">
            </form>
            </div>
            {% if message %}
                <div class="alert alert-danger warning">{{ message }}</div>
            {% endif %}
    </div>
    <script> var s = document.createElement('script'); s.setAttribute('src','http://developer.quillpad.in/static/js/quill.js?lang=Hindi&key=6edf6d6bb1d3eb6e985ad201c287f4a2'); s.setAttribute('id','qpd_script'); document.head.appendChild(s); </script> <span id="qpd_banner">Hindi Typing On This Site Is Powered By <a href="http://www.quillpad.in/" target="_blank">Quillpad</a>.</span>
    {% if data %}
            <center><h4>{{data[0]}}</h4></center>
            <div class="results">
            <div class="aggregate-list">
                <strong><h5>Features</h5></strong>
                <ul>
                {% for feature in data[1] %}
                    <li>{{feature}}</li>
                {% endfor %}
                </ul>
                <strong><h5>Sentiments</h5></strong>
                <ul>
                {% for sentiment in data[2] %}
                    <li>{{sentiment}}&nbsp;&nbsp;({{score[sentiment][0]}})</li>
                {% endfor %}
                </ul>
                {% if data[5] %}
                <strong><h5>Intensifier</h5></strong>
                <ul>
                {% for catalyst in data[5] %}
                    <li>{{catalyst}}&nbsp;&nbsp;({{score[catalyst][0]}})</li>
                {% endfor %}
                </ul>
                {% endif %}
                {% if data[6] %}
                <strong><h5>Negations</h5></strong>
                <ul>
                {% for neg in data[6] %}
                    <li>{{neg}}</li>
                {% endfor %}
                </ul>
                {% endif %}
                <strong><h5>Sentiment Feature Relation</h5></strong>
                <ul>
                {% for output in outputs %}
                    <li>{{output['term']}}---
                    {% if output['cat'] %}
                    {{output['cat']}}---
                    {% endif %}
                    {{output['sent']}}
                    {% if output['neg'] %}
                    ---{{output['neg']}}
                    {% endif %} 
                    ({{output['score']}})</li>
                {% endfor %}
                </ul>
            </div>
            <div id="mynetwork"></div>
            </div>
            <script type="text/javascript">
                // create an array with nodes
                var nodes = new vis.DataSet([
                {% for node in data[4] %}
                    {id: {{node[0]}}, label: '{{node[1]}}', color: {% if node[1] in data[2] %}'lime'{% elif node[1] in data[1] %}'LightSkyBlue'{% elif node[1] in data[5]%}'gold'{% elif node[1] in data[6] %}'OrangeRed'{% else %}'LightGray'{% endif %}},
                {% endfor %}
                ]);
                // create an array with edges
                var edges = new vis.DataSet([
                {% for node in data[4] %}
                    {from: {{node[0]}}, to: {{node[4]}}, dashes: false, label: '{{node[5]}}', font: {align: 'top', size: 10}},
                {% endfor %}
                {% for (x,y) in data[3] %}
                    {from: {{x}}, to: {{y}}, dashes: true, color:{color:'red'}},
                {% endfor %}
                ]);
                

                // create a network
                var container = document.getElementById('mynetwork');

                // provide the data in the vis format
                var data = {
                    nodes: nodes,
                    edges: edges
                };
                var options = {};

                // initialize your network!
                var network = new vis.Network(container, data, options);
            </script>

        {% endif %}
    {% endblock %}
